@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(248, 113, 113, 0.5);
    border-color:  rgba(248, 113, 113, 1);
  }